@CHARSET "UTF-8";

/* Tooltip Borderless */

.tooltipster-sidetip.tooltipster-borderless .tooltipster-box {
    border: 4px solid #fff;
    background: rgb(199 116 92 / 0.9); /*rgb(201 117 93 / 0.9); */
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-box {
    
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-box {
    margin-right: 8px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-box {
    margin-left: 8px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-box {
    
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow {
    height: 8px;
    margin-left: -8px;
    width: 16px;
    margin-top: -8px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow {
    height: 16px;
    margin-left: 0;
    margin-top: -8px;
    width: 8px;
    margin-right: -8px;
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-background {
    display: none;
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-border {
    border: 8px solid transparent;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: rgb(255 255 255 / 1);
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow-border {

    border-left-color: rgb(255 255 255 / 1);
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-border {

    border-right-color: rgb(255 255 255 / 1);
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-arrow-border {

    border-top-color: rgb(255 255 255 / 1);
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -8px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-uncropped {
    left: -8px;
}

/* Tooltip Additional Settings */

.tooltip_templates {
    display: none;
}

.tooltip {
    cursor: pointer;
}

.tooltipster-custom,
.tooltipster-content {
    border: 1px solid #908f9c;

}

#tooltip_content {
    color: #000;
}

/* Tooltip Content */
.icons {
    width: 80px !important;
    display: block;
    margin: 0 auto;
    width: 50%;
}
.tooltipster-base {
    max-height: 500px;
    max-width:500px;
}
.tooltip-title {
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 10px 0px;
    line-height: 20px;
    color: #fff;
}

.tooltip-content {
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
}

.tooltip-content-credit {
    font-size: 18px; /* font usage */
    line-height: 20px;
    font-style: italic;
}
.tooltip-image {
    width: 450px;
    object-fit: cover;
    border: 2px solid #fff;
    margin-top:5%;
    margin-bottom:5%;
}




.tooltip-tour {
    position: relative;
    background: rgb(199 116 92);
    padding: 5px 10px;
    color: #fff;
    margin-top: -40% !important;
    display: block;
    margin: 0px 60px;
}

.tooltip-tour:hover {
    text-decoration:underline;
}

.tooltip-link {
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
}

/* ----- */
.borderDiv {
    width: 100%;
    height: 100%;
    border: 1px solid;
    overflow: hidden;

    
    position: relative;
    overflow: hidden;
}

.mainContainer {
    width: 2000px;
    height: 1500px;
    position: relative;
}

#view {
    left: -250px;
    top: -300px;
}

/* Tooltip */


/* Menu */
.burger, .burger2, .burger3, .burger4  {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid currentColor;
    width: 20px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
    margin-left: 5%;
    z-index:3;
  }
  .burger::-moz-focus-inner, .burger2::-moz-focus-inner, .burger3::-moz-focus-inner, .burger4::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .burger:before,  .burger2:before, .burger3:before, .burger4:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  .burger:after, .burger2:after, .burger3:after, .burger4:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  
  .burger-check, .burger-check2, .burger-check3, .burger-check4 {
    display: none;
  }
  
  .burger-check:checked ~ .burger, .burger-check2:checked ~ .burger2, .burger-check3:checked ~ .burger3, .burger-check4:checked ~ .burger4 {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
  }
  .burger-check:checked ~ .burger:before, .burger-check2:checked ~ .burger2:before,  .burger-check3:checked ~ .burger3:before, .burger-check4:checked ~ .burger4:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  .burger-check:checked ~ .burger:after, .burger-check2:checked ~ .burger2:after,  .burger-check3:checked ~ .burger3:after, .burger-check4:checked ~ .burger4:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  
  .navigation, .navigation2, .navigation3, .navigation4 {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }
  
  .burger-check:checked ~ .navigation,  .burger-check2:checked ~ .navigation2,  .burger-check3:checked ~ .navigation3,  .burger-check4:checked ~ .navigation4 {
    max-height: 500px;
    transition: max-height 0.5s ease-in-out;
  }




/* minimap */
#minimap #selectWin {
    z-index: 9999;
}

.selectionWin {}

#minimap #selectWin .selectionWin {
    position: absolute;
    background-color: #5d5d5d;
    opacity: 0.5;
}

#minimap,
#minimap #selectWin,
#minimap #miniview {
    position: fixed;
    top: 5%;
    right: 2%;
    overflow: hidden
}

#miniview {
    border: 2px solid rgb(199 116 92);
}

#minimap .mainContainer {
    transform-origin: left top;
    background-color: #fff;
}

#kennedyMuseum {
    cursor: pointer;
}

/* Photo Background, 360 photos */
#mainScene {
    display: none;
}

#kennedy, #building13, #building14, #building18 {
    color: #fff;
    display: none;
    position: fixed;
    bottom: 5%;
    left: 5px;
    z-index: 2;

}

#BackToMainfromMiniMap {
    position: fixed;
    top: 5%;
    right: 2%;
    z-index: 2;
    width: 200px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid rgb(199 116 92);

}

#backToMap2{
    display:none;
    
}

td {
    padding: 5px 8px !important;
    border: 1px solid rgb(255 255 255 / 0.5);
}

.closeButton {
  

    position: absolute;
    top:30px;
    right: 15px;
    padding: 2px 6px;

    color: rgb(0 75 52 / 0.9);
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
    display:none;
}
 /* Scroller */

 /* width */
::-webkit-scrollbar {
    width: 10px;
  }
 /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  /* Firefox scroller */
.tooltipster-content {
    scrollbar-color: #888 #f1f1f1; 
    scrollbar-width: thin;
}

/* Responsiveness */
@media only screen and (max-width: 500px) {

    #view {
        left: -600px;
        top: -300px;
    }

    #minimap,
    #minimap #selectWin,
    #minimap #miniview {
        position: fixed;
        bottom: 5% !important;
        right: 5% !important;
        overflow: hidden
    }

    #locationName {
        bottom: 5%;
    }
    .tooltipster-base {
        min-height: 100%;
        
        min-width:100%;
        position: absolute;
        left:0px !important;
        top: 0px !important;
    }
    .tooltipster-sidetip .tooltipster-content {
        height:100%;
    }

    .tooltip-image {
        width:280px;
    }

    #backToMap {
        display:none;
    }

   

    #closeButton {
        position: absolute;
        top:28px;
        right: 15px;
        padding: 2px 6px;
   
        font-weight: bold;
        cursor: pointer;
        font-size:20px;
        z-index:2;
    }
    .closeButton {
        display:block;
    }
    .tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-border {
        border-bottom-color: rgb(255 255 255 / 0);
    }

    .tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow {
    height: 16px;
    margin-left: 0;
    margin-top: -8px;
    width: 8px;
    margin-right: 0px;
}
}

@media only screen and (max-width: 800px) {
    #view {
        left: -600px;
        top: -400px;
    }
}